body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-image:  url("img/img1.jpg");
	
}

img{

	
	position: relative;
	top: 1px;
	left: 600px;
	
	max-width: 120px;

	}
ul{
	list-style-type: none;
	position: relative;
	top: 0px;
	width: 2;
	padding:4px;
	overflow: hidden;
	 background-color: #191919;
	 transition: 0.25s;
	 
}
li a
{
	float: left;

}
li a{
	position: linear;
	display: block;
	padding: 14px 15px;
	color: white;
	text-align: left;
	font-family: serif;
	text-decoration: none;



}
li a:hover{
	background-color: #111;
	box-shadow: 0 0 8px #2ecc71 , 0 0 9px #2ecc71, 0 0 10px #2ecc71;

}



.box{
	width: 300px;
	padding: 40px;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: #191919;
	text-align: center;
}
.box input[type="text"],.box input[type="password"]{
	border:0;
	background:none;
	display: block;
	margin: 20px auto;
	text-align center;
	border: 2px solid #3498db;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 20px;
	transition: 0.25s;

}
label{
	text-align: left;
	color: #2ecc71;
	font-size: 47px;
}
label:hover{
	text-shadow:  0 0 8px #2ecc71 , 0 0 9px #2ecc71, 0 0 10px #2ecc71;
}
.box input[type="text"]:focus,.box input[type="password"]:focus{
	width: 280px;
	border-color: #2ecc71;
	box-shadow: 0 0 8px #2ecc71 , 0 0 9px #2ecc71, 0 0 10px #2ecc71;
}

.box input[type="text"]:hover,.box input[type="password"]:hover{

	box-shadow: 0 0 8px #2ecc71 , 0 0 9px #2ecc71, 0 0 10px #2ecc71;
 

}

.box input[type="submit"]{
	border:0;
	background:none;
	display: block;
	margin: 20px auto;
	text-align center;
	border: 2px solid #2ecc71;
	padding: 14px 40px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 20px;
	transition: 0.25s;
	cursor: pointer;

}
.box input[type="submit"]:hover{
	box-shadow: 0 0 8px #2196f3 , 0 0 9px #2196f3, 0 0 10px #2196f3;
	background: #2ecc71;
}

